
#middle {
  text-align:center;
  font-family:courier;
  vertical-align: middle;
  height: 20px;
}
#cup {
  text-align:center;
  font-family:courier;
  font-size: 150px;
  vertical-align: middle;
  font-family: 'Rock Salt', cursive;
  height: 20px;
}
#middle2 {
  text-align:center;
  font-family:courier;
  font-size: 10px;
  vertical-align: middle;
  height: 20px;
}

A.class1 {color:white;}
A.class1:link  {text-decoration: none; color: white; background-color: black; padding: 10px 10px;}
A.class1:visited {text-decoration: none; color: white; background-color: black;}
A.class1:hover {text-decoration: none; color: black; background-color: white;}
A.class1:active {text-decoration: none; color: black; background-color: white;}

A.class2 {color:blue;}
A.class2:link {text-decoration: none; color: blue; background-color: red;}
A.class2:visited {text-decoration: none; color: blue;}
A.class2:hover {text-decoration: underline; color: blue;}
A.class2:active {text-decoration: none; color: blue;}

A.class3 {color:white;}
A.class3:link  {text-decoration: none; color: white; background-color: black; padding: 10px 10px;}
A.class3:visited {text-decoration: none; color: white; background-color: black;}
A.class3:hover {text-decoration: none; color: black; background-color: #F1948A;}
A.class3:active {text-decoration: none; color: black; background-color: #F1948A;}

.pink {
  display: table-cell;
  vertical-align: middle;
  text-align:center
}

.joy {
  padding: 10px 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#bob {
  font-size: 25px;
  font-family: courier;
  vertical-align: middle;
  display: inline-block;
}
#little {
  font-size: 30px;
  font-family: courier; 
  color: white;
  background-color: black;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 10px;

}
#big {
  margin:0 auto;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  display: table;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  margin: auto;
  border-radius: 50%;
}
.slideshow-container2 {
  max-width: 500px;
  max-height: 333px;
  position: relative;
  margin: auto;
  border-radius: 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: courier;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#tri{
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 350px solid blue;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}