/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "San Francisco", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif;
  font-family: Arial, sans-serif; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: rgb(9, 10, 12);
  font-size: 16px;
  color: #ccc;
  color: #000;
  background-color: #141414;
  background-color: #232020;
  background-color: rgb(9, 10, 12);
  min-width: 350px;
}

a{
  color: white;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  padding: 2rem;
  background-color: #1c1c1c;
  background-color: #3a2f2f;
  background-color: rgb(20, 23, 28);
  display: block;
  overflow: hidden;
  /* overflow-y: scroll; */
}

.main {
  /* margin-left: 20rem; */
  background-color: #1c1c1c;
  background-color: #503d3d;
  background-color: #232020;
  background-color: rgb(20, 23, 28);
  background-color: rgb(9, 10, 12);
  /* padding: 2rem; */
  /* position: fixed; */
  /* overscroll-behavior: none; */
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* margin-left: 3rem; */
  color: #fff;
}

.mainTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  /* margin-top: 1rem; */
  color: #fff;
}

label {
  display: inline-block;
  font-size: 1rem;
  font-weight: none;
  margin-top: .7rem;
  margin-bottom: .5rem;
  vertical-align: middle;
  color: white;
}
  
input[type="text"],
input[type="number"],
select {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #444444;
  /* background-color: #1c1c1c;
  color: #ccc; */
  background-color: #4a3a3a;
  background-color: black;
  background-color: rgb(9, 10, 12);
  color: white;
  width: 100%;
  /* margin-bottom: 0.5rem; */
  /* border: none; */
  /* background-color: transparent; */
  outline: none;
}
  
select option {
  font-family: "San Francisco", sans-serif;
  font-size: 1.2rem;
  color: white;
}
  
  /* --- The rest of your CSS code remains the same --- */
  
  
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  /* margin-bottom: 2rem; */
  border-radius: 0.5rem;
  /* overflow: hidden; */
  background-color: #fff;
  background-color: rgb(20, 23, 28);
  color: white;
  color: red;
  color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-spacing: 0;
  height: 100%;
  table-layout: fixed;
}

/* Set the height of the table container */
.table-container {
  border-radius: 1rem;
  padding: 2rem;
  padding-top: 0rem;
}
  
/* Make the table headers sticky */
.table-container thead th {
  position: sticky;
  top: 0;
  background-color: #afebf7;
  background-color: #3a2f2f;
  background-color: black;
  background-color: rgb(9, 10, 12);
  color: #4a3a3a;
  color: white;
  height: 60px;
}
  
/* Adjust the table body margin to make space for the sticky headers */
.table-container tbody {
  margin-top: 2.5rem; /* adjust the margin based on your header height */
}
  

/* Set the fixed height of the table rows */
tr {
  height: 60px; /* Adjust this value to your desired height */
  min-height: 60px;
  max-height: 60px; /* Set the minimum height */
}
  
th,
td {
  border: 0px solid #ddd;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: 1rem;
  text-align: left;
}
  
th {
  background-color: #f2f2f2;
  font-weight: none;
  text-align: left;
  height: 1rem;
}

/* Set the width of the Position column */
#movieTable th:nth-child(1), td:nth-child(1) {
  width: 3%;
  text-align: center;
  padding-left: .7rem;
}

/* Set the width of the Watched column */
#movieTable th:nth-child(2), td:nth-child(2) {
  width: 6%;
  text-align: left;
  font-weight: bold;
  color: white;
}

/* Set the width of the Watched column */
#movieTable th:nth-child(3), td:nth-child(3) {
  width: 3%;
  text-align: center;
}

/* Set the width of the IMDb Rating column */
#movieTable th:nth-child(4), td:nth-child(4) {
  width: 4%;
  text-align: left;
}

/* Set the width of the Streaming column */
#movieTable th:nth-child(5), td:nth-child(5) {
  width: 6%;
  text-align: left;
}

/* Set the width of the Year column */
#movieTable th:nth-child(6), td:nth-child(6) {
  width: 4%;
  text-align: center;
}

/* Set the width of the Year column */
#movieTable th:nth-child(7), td:nth-child(7) {
  width: 2%;
  text-align: center;
}

/* Set the width of the Year column */
#movieTable th:nth-child(8), td:nth-child(8) {
  width: 4%;
  text-align: left;
  vertical-align: center;
}
/* Set the width of the Year column */
#movieTable th:nth-child(9), td:nth-child(9) {
  width: 2%;
  text-align: left;
  vertical-align: center;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
  background-color: rgb(20, 23, 28);
  color: rgba(255, 255, 255, 0.75);
} */

#movieTable tr:last-child {
  /* background-color: blue; */
  border-radius: 10px;
}
  
/* Button styles */
button,
input[type="submit"] {
  padding: 0.7rem 1.5rem;
  background-color: #afebf7;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  background-color: #afebf7;
}

/* Upload button */
#uploadBtn {
  background-color: #ddd;
  background-color: #ddd;
  color: #333;
  background-color: #afebf7;
  color: #4a3a3a;
  color: black;
  color: rgb(9, 10, 12);
  background-color: white;
  background-color: #b4b4b4;
  height: 100px;
  font-size: 1rem;
  font-weight: bold;
  /* margin-right: 15%;
  margin-left: 15%; */
  width: 110px;
}

/* Upload button */
#showAllMovies {
  background-color: #ddd;
  background-color: #ddd;
  color: #333;
  background-color: rgba(240, 240, 240, 0.169);
  background-color: black;
  background-color: rgb(63, 63, 63);
  border: #eedada;
  color: #4a3a3a;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  /* width: 109px; */
  height: 100px;
  /* margin-right: 15%;
  margin-left: 15%; */
}

#uploadBtn:hover {
  background-color: #ccc;
}

/* File upload */
#fileUpload {
  display: none;
}

/* Checkbox styles */
  input[type="checkbox"] {
  display: inline-block;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  vertical-align: middle;
  background-color: #afebf7;
}

/* Table option select */
#tableOption {
  margin-left: 0rem;
  margin-bottom: 0rem;
}

/* Hide before year */
#hideBeforeYear {
  margin-left: 0rem;
}

/* Styles for the top position */
#movieTable td:first-child {
  font-weight: none;
  width: 7%;
  /* padding-left: 1rem; */
  padding-right: 1rem;
  text-align: center;
}

/* Styles for the top position */
#movieTable td:nth-child(2), th:nth-child(2) {
  font-weight: none;
  /* width: 5%; */
  /* padding-right: 1rem; */
}

/* Streaming services filter */
#streamingServices {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#streamingServices label {
    margin-bottom: .25rem;
    margin-top: .25rem;
}

#streamingServices input[type="checkbox"] {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.searchBox,
.searchBox2 {
    display: flex;
    margin-bottom: 1rem;
    background-color: #fff;
    background-color: #3a2f2f;
    background-color: black;
    background-color: rgb(9, 10, 12);
    /* background-color: black; */
    color: white;
    border-radius: 7px;
    margin-top: .5rem;
    padding: 0rem;
}
  
#search,
#search2 {
    /* border: none; */
    background-color: transparent;
    border-color: #555555;
    font-size: 1rem;
    width: 100%;
    outline: none;
    /* background-color: rgba(255, 250, 39, 0.75); */
    border-radius: 50px;
    padding-left: 1rem;
    /* margin-top: .25rem;
    margin-bottom: .25rem; */
}

#input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
    margin-left: 0.5rem;
    outline: none;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

/* Media queries */
@media screen and (max-width: 2001px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    padding: 2rem;
    background-color: #1c1c1c;
    background-color: #3a2f2f;
    background-color: rgb(20, 23, 28);
    display: block;
    display: none;
    overflow: hidden;
    /* overflow-y: scroll; */
  }

  .main {
    /* margin-left: 20rem; */
    background-color: #1c1c1c;
    background-color: #503d3d;
    background-color: #232020;
    background-color: rgb(20, 23, 28);
    background-color: rgb(9, 10, 12);
    padding-top: 2rem;
    /* position: fixed; */
    /* overscroll-behavior: none; */
  }

  .mobile-filters-tab {
    display: block;
    position: absolute;
    right: 0;
    z-index: 100;
    padding-top: 3rem;
    padding-right: 3rem;
  }

  .mobile-filters-tab button {
    background-color: #007BFF;
    background-color: #816464;
    background-color: #81CBCB;
    background-color: white;
    background-color: #8eefef;
    background-color: #afebf7;
    border: none;
    /* color: #816464;*/
    color: #4a3a3a;
    color:black;
    color: rgb(9, 10, 12);
    background-color: white;
    background-color: #b4b4b4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .main {
    margin-left: 0;
    /* max-height: 100vh; */
  }
  
  .table-container {
    /* overflow-x: none; */
    /* height: 100%; Set the height to 100% */
    /* max-height: 100vh; Set the max-height */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    border-color: rgb(32 36 45);
    border: 1px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .table-responsive {
    min-width: 100%;
  }

  .table tr {
    height: 40px;
  }

  tr {
    height: 40px;
  }

  .table th,
  .table td {
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
  }
/* 
  .table-container th:nth-child(5),
  .table-container td:nth-child(5),
  .table-container th:nth-child(6),
  .table-container td:nth-child(6) {
    display: none;
  }

  .table-container th:nth-child(1){
    width: 5%;
    text-align: left;
    padding-right: rem;
  } */
  #movieTable th:nth-child(2), td:nth-child(2){
    /* width: 15%; */
    text-align: left;
  }
  .table-container th:nth-child(3){
    width: 5%;
    text-align: left;
  }
  .table-container th:nth-child(4){
    width: 8%;
  }
  .table-container th:nth-child(5){
    width: 6%;
    text-align: center;
  }
  .table-container th:nth-child(6){
    width: 6%;
    text-align: center;
  }
  .table-container th:nth-child(7){
    width: 6%;
    text-align: center;
  }

}

@media screen and (max-width: 2000px) {
  .sidebar {
    height: 100vh;
    padding: 2rem;
    position: fixed;
    display: none;
    overflow: hidden;
    overflow-y: auto;
  }

  #uploadBtn {
    width: 170px;
    margin-top: 0.35rem;
    margin-right: 0rem;
  }

  #showAllMovies {
    margin-top: 0.35rem;
    margin-right: 0rem;
  }

  .main {
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* padding-bottom: 0; */
    /* padding-top: 1rem; */
    /* height: 100vh; */
    /* display: flex; */
    flex-direction: column;
    /* margin-left: 0rem; */
    display: block !important;;
  }

  h1 {
    margin-top: 0;
    /* padding-top: 1rem; */
    /* background-color: #333; */
    color: #81CBCB;
    color: white;
    /* position: sticky; */
    top: 0;
    z-index: 10;
  }

  .searchBox2,
  #search2 {
    margin-top: 0rem;
    border-radius: 0rem;
    border: transparent;
    padding: 0rem;
    border-color: #3f3f3f;
    border-radius: .5rem .5rem 0rem 0rem;
    padding: 0rem;
    /* position: fixed;
    bottom:0; */
    width: 100%;
    margin-bottom: .25rem;
  }

  #search2 {
    margin-top: 0rem;
    border-radius: 0rem;
    border: transparent;
    padding: 1rem;
    border-color: #3f3f3f;
    border-radius: .5rem .5rem 0rem 0rem;
    margin-bottom: .2rem;
  }

  .table-container {
    /* overflow-x: auto; */
    /* overflow-y: scroll; */
    /* margin-top: 2rem; */
    margin-bottom: 0rem;
    border-radius: 10px;
    /* max-height: calc(100vh - 10rem); /* Set the max-height to fill the remaining space */
  }

  table {
    border-radius: 0rem;
  }

  input[type="text"],
  input[type="number"],
  select {
    font-size: 0.9rem;
  }

  button,
  input[type="submit"] {
    font-size: 1rem;
    /* padding: 0.5rem 1rem; */
  }

  #streamingServices {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #streamingServices label {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  th,
  td {
    font-size: 0.9rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    height: 60px;
    max-height: 20px;
  }

  tr {
    height: 20px;
  }

  th {
    height: 1rem;
  }
}

/* Media queries */
@media screen and (max-width: 1001px) {
  .sidebar {
    width: 100%;
    position: static;
    height: auto;
    /* overflow-y: visible; */
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* background-color: red; */
    /* display: block; */
  }

  .mobile-filters-tab {
    display: block;
    position: absolute;
    right: 0;
    z-index: 100;
    /* padding-top: 2rem; */
    padding-right: 2rem;
  }

  .mobile-filters-tab button {
    background-color: #007BFF;
    background-color: #816464;
    background-color: #81CBCB;
    background-color: white;
    background-color: #8eefef;
    background-color: #afebf7;
    border: none;
    /* color: #816464;*/
    color: #4a3a3a;
    color:black;
    color: rgb(9, 10, 12);
    background-color: white;
    background-color: #b4b4b4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .main {
    margin-left: 0rem;
    /* background-color: blue; */
    /* max-height: 100vh; */
    /* padding: 2rem; */
  }
  
  .table-container {
    /* overflow-x: none; */
    /* height: 100%; Set the height to 100% */
    /* max-height: 100vh; Set the max-height */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    border-color: rgb(32 36 45/var(--tw-border-opacity));
    border: 1px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .table-responsive {
    min-width: 100%;
  }

  .table tr {
    height: 40px;
  }

  tr {
    height: 40px;
  }

  .table th,
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-container th:nth-child(5),
  .table-container td:nth-child(5),
  .table-container th:nth-child(6),
  .table-container td:nth-child(6) {
    display: none;
  }

  .table-container th:nth-child(1){
    width: 5%;
    text-align: left;
    padding-right: rem;
  }
  #movieTable th:nth-child(2), td:nth-child(2){
    /* width: 15%; */
    text-align: left;
  }
  .table-container th:nth-child(3){
    width: 5%;
    text-align: left;
  }
  .table-container th:nth-child(4){
    width: 8%;
  }
  .table-container th:nth-child(5){
    width: 6%;
    text-align: center;
  }
  .table-container th:nth-child(6){
    width: 6%;
    text-align: center;
  }
  .table-container th:nth-child(7){
    width: 6%;
    text-align: center;
  }

}

@media screen and (max-width: 1000px) {
  .sidebar {
    height: 100vh;
    padding: 2rem;
    padding-top: 2rem;
    /* position: fixed; */
    padding-bottom: 8rem;
    display: none;
  }

  .main {
    /* padding-left: 0;
    padding-right: 0; 
    padding-bottom: 0; */
    /* padding-top: 1rem; */
    /* height: 100vh; */
    /* display: flex; */
    margin-left: 0rem;
    flex-direction: column;
  }

  h1 {
    margin-top: 0;
    padding-top: 1rem;
    /* background-color: #333; */
    color: #81CBCB;
    color: white;
    /* position: sticky; */
    top: 0;
    z-index: 10;
  }

  .searchBox2,
  #search2 {
    margin-top: 0rem;
    border-radius: 0rem;
    border: transparent;
    padding: 0rem;
    border-color: #3f3f3f;
    border-radius: .5rem .5rem 0rem 0rem;
    padding: 0rem;
    /* position: fixed;
    bottom:0; */
    width: 100%;
    margin-bottom: .25rem;
  }

  #search2 {
    margin-top: 0rem;
    border-radius: 0rem;
    border: transparent;
    padding: 1rem;
    border-color: #3f3f3f;
    border-radius: .5rem .5rem 0rem 0rem;
    margin-bottom: .2rem;
  }

  .table-container {
    /* overflow-x: auto; */
    /* overflow-y: scroll; */
    /* margin-top: 2rem; */
    margin-bottom: 0rem;
    border-radius: 0rem;
    padding: 2rem;
    padding-top: 0rem;
    /* max-height: calc(100vh - 10rem);  */
    /* -webkit-overflow-scrolling: touch;  */
  }

  table {
    border-radius: 0rem;
  }

  input[type="text"],
  input[type="number"],
  select {
    font-size: 0.9rem;
  }

  button,
  input[type="submit"] {
    font-size: 1rem;
    /* padding: 0.5rem 1rem; */
  }

  #streamingServices {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #streamingServices label {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  th,
  td {
    font-size: 0.9rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    height: 60px;
    max-height: 20px;
  }

  tr {
    height: 20px;
  }

  th {
    height: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .table-container {
    padding: 0rem;
    padding-bottom: 6rem;
  }
  .mainTitle {
    margin-left: 1.5rem;
  }
  .mobile-filters-tab {
    padding-right: 1rem;
  }
}