html,body{
  margin:0;
  padding:0px;
  font-family: galvji;
  /*min-width: 734px; (this is when apple switches from mac to iphone)*/
}
.daddyDiv{
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  min-width: 1000px;
  min-height: 380px;
}
#middleAB{
  text-align:center;
  font-family:courier;
  font-family: galvji;
  vertical-align: middle;
  height: 15px;
  font-size: 18px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 65px;
}
.go2Tile{
  background:black;
  height:130px; width:300px;
  margin-left: 50%;
  transform: translate(-57%,0);
  border-radius: 20px;
  color: white;
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.childDiv{
  position: absolute;
  background-color: black;
  width: 1000px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search-box{
  left: 50%;
  margin: 0 auto;
  background: black;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 0px;
}
.search-box:hover > .search-txt{
  width: 248px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background: white;
  color: black;
}
.search-btn{
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

#main-content{
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0 0;
}
.responsive{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.responsive iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.logoDiv{
  position: absolute;
  background-color: black;
  width: 500px;
  height: 200px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.babyDiv{
  background-color: black;
  width: 300px;
  height: 300px;
  float:left;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}
.specialBabyDiv{
  background-color: black;
  width: 300px;
  height: 300px;
  float:left;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: 50px;
  border-radius:0px;
  width: 220px;
  height: 220px;
  border-style: solid;
  border: red;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px;
  border: 50px;
  border-color: red;
}
.textCenter{
  position: relative;
  text-align: center;
  font-family: courier;
  font-size: 24px;
  background: none;
  width: 220px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -25px;
}
.upArrow{
  position: relative;
  text-align: center;
  background: none;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -375px;
}
.downArrow{
  position: relative;
  text-align: center;
  background: none;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 245px;
}
.trans2{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  animation-name: fade3;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade3;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fade3 {
  0%   {background-color:white; opacity:1;}
  100% {background-color:black; opacity: 0; z-index: -9;}
}
-webkit-@keyframes fade3 {
  0%   {background-color:white; opacity:1;}
  100% {background-color:black; opacity: 0; z-index: -9;}
}
